body,.pagehead{
background: black !important;
color: white !important;
}
a{
color:#0362AD !important;
}
.Box-title,.Box,h3{
	color:blueviolet!important;
}
.pl-s1,.pl-pds,.pl-c,.pl-c1,.pl-k,.pl-2,.blob-code,.octicon-mark-github,.text-gray-dark{
	color:white !important;
}

.pl-smi{
	color:green !important;;
}
.file-info,p{
	color:black!important;
}
